.header {

    &__hero{
        background-image: url("/assets/img/desarrolloweb2021t.svg");
        width: 100%;
        

        @include respond-to($laptop){
         width: 100%;
        }
    }
}